---
import { site } from "../config";
---

<nav id="nav">
  <div class="wrap nav-inner">
    <a href="#top" class="brand">{site.name}<span class="dot">.</span></a>
    <div class="nav-links">
      <a href="#work" class="hide-sm">Work</a>
      <a href="#about" class="hide-sm">About</a>
      <a href="#journey" class="hide-sm">Journey</a>
      <a href="#contact">Contact</a>
    </div>
  </div>
</nav>
